[user]
	name = maxgallup
	email = m.gallup@student.vu.nl
	signingkey = 4E36804CD5B29664
	signingkey = D2986E382723807E

[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

