[user]
	name = maxgallup
	email = m.gallup@student.vu.nl
	signingkey = D4EA8D98E6BDDA0C

[commit]
	gpgsign = true


# [filter "lfs"]
# 	clean = git-lfs clean -- %f
# 	smudge = git-lfs smudge -- %f
# 	process = git-lfs filter-process
# 	required = true

