[user]
	name = maxgallup
	email = maxgallup@pm.me
	signingkey = D4EA8D98E6BDDA0C

[commit]
	gpgsign = true


# [filter "lfs"]
# 	clean = git-lfs clean -- %f
# 	smudge = git-lfs smudge -- %f
# 	process = git-lfs filter-process
# 	required = true

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
